@font-face{font-family:'Pt Sans';src:url("") format("woff");font-weight:400;font-style:normal}
@font-face{font-family:'PT Sans';src:url("") format("woff");font-weight:400;font-style:italic}
@font-face{font-family:'PT Sans';src:url("") format("woff");font-weight:700;font-style:normal}
@font-face{font-family:'Ubuntu';src:url("90b63973561a42bf570d5716c3ee56a84c88ee58") format("woff");font-weight:400;font-style:normal}